<!DOCTYPE html>
<html>

<head>
    <title>Result</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p> <%= result %> </p>        
    <p> Type : <%= typeBien %> </p>
    <p> Price by m² : <%= pricem2 %> </p>
    <p> City : <%= city %> </p>
    <p> Average price : <%= meanprice %> </p>
</body>

</html>